@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400&family=Berkshire+Swash&family=Diplomata+SC&family=Kosugi+Maru&family=Libre+Baskerville:ital@1&family=Lobster&family=Lobster+Two&family=Merienda&family=Montserrat:wght@300&family=Roboto+Mono&family=Satisfy&display=swap');

:root {
    --h1-font: "Berkshire Swash", sans-serif;
    --h2-font:"Berkshire Swash", sans-serif;
    --nav-menu-font:"Lobster Two", sans-serif;
    --link-font: "Lobster Two", sans-serif;
    --body-font: "Arima", sans-serif;
    
    --background-color: 221,231,199;
    --nav-bar-color: 135,182,155;
    --black: 0,0,0;
    --white: 255,255,255;
    --l-blue: 152,233,255;
    --d-blue: 2,120,158;
    --social-media:0,56,89;
    --h1-color: 18,97,0;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: var(--body-font);
    font-weight: 300;
    color: rgba(var(--black), 1);
    background-color: rgba(var(--background-color), 1);
    width: 100%;
    margin: 0 auto;
}

/* Header and nav */
header {
    width: 100%;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: var(--h1-font);
    font-weight: 300;
    font-size: 300%;
    color: rgba(var(--h1-color),1);
    text-align: center;
}

h2 {
    font-family: var(--h2-font);
    font-weight: 300;
    font-size: 300%;
    text-align: center;
    color: rgba(var(--black),1);
    padding: 20px;
}

nav {
    background-color: rgba(var(--nav-bar-color),1);
    text-align: center;
    padding: 15px;
}

.nav-menu a {
    font-family: var(--nav-menu-font);
    color: rgba(var(--black),1);
    font-size: 160%;
    text-decoration: none;
    padding: 0 2vw;
}

.nav-menu a:hover {
    border-bottom: 2px solid rgba(var(--black),1);
}

.active {
    border-bottom: 2px solid rgba(var(--black),1);
}

/* Footer */
footer {
    height: 570px;
    width: 100%;
    color: rgba(var(--black),1);
    margin: 0;
    background-color:rgba(var(--d-blue),1);
}

.footer-div {
    height: 570px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.footer-img {
    background: url(../images/footer-spider-narrow.jpg) no-repeat right bottom;
    background-size: auto;
    background-attachment: fixed;
}

.social-networks {
    grid-area:2/1/span 2/span 2;
    font-family: var(--h1-font);
    text-align: center;
    margin: 0;
    padding: 30px 0;
    background-color: rgba(var(--l-blue), 0.5)
}

.social-networks p {
    font-size: 110%;
    font-weight: 600;
    padding: 30px;
}

.social-networks li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    padding: 0;
    font-size: 200%;
    color: rgba(var(--black),1);
}

.back-to-top {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    margin: 0 auto;
}

.back-to-top a {
    color: rgba(var(--black),1);
    text-decoration: none;
    text-align: center;
    font-size: 120%;
}

/* Style fontawesome social media links */
.fa-brands {
    font-size: 100%;
    color: rgba(var(--social-media),1);
}

/* Main body index.html */
.grid-container-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto repeat(2, 1fr) 100px;
}

.intro-text {
    grid-area:1/3/span 1/11;
    padding: 30px 0;
    text-align: center;
    font-size: 120%;
}

.main-photo-one {
    grid-area:2/3/span 1/11;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: rgba(var(--background-color),1);
}

#main-toad {
    width: 100%;
    height: auto;
}

#vertebrate-label:hover {
    text-decoration: underline;
}

.main-photo-two {
    grid-area:3/3/span 1/11;
    width: 100%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: rgba(var(--background-color),1);
}

#main-wasp {
    width: 100%;
    height: auto;
}

#invertebrate-label:hover {
    text-decoration: underline;
}

.grid-container-main a {
    font-family: var(--link-font);
    font-weight: 200;
    font-size: 300%;
    color: rgba(var(--black),1);
    text-decoration: none;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 15px repeat(4, 1fr) 15px;
}
.fact-box {
    grid-area: 2/2/span 4/6;
    background-color: rgba(var(--h1-color),1);
    height: 100px;
    border: 2px solid rgb(var(--black));
    border-radius: 15%;
}

.fa-lightbulb {
    grid-area: 3/2/span 2/6;
    font-size: 300%;
}

.fa-lightbulb:hover{
    color: gold
}

/* Vertebrate and invertebrate intermediate pages*/
.grid-container-intermediate-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
}

.grid-container-intermediate-page a {
    font-family: var(--link-font);
    font-weight: 300;
    font-size: 200%;
    color: rgba(var(--black),1);
    text-decoration: none;
}

.intermediate-photo-one {
    grid-area:1/3/span 1/11;
}
.intermediate-photo-two {
    grid-area:2/3/span 1/11;
}
.intermediate-photo-three {
    grid-area:3/3/span 1/11;
}
.intermediate-photo-four {
    grid-area:4/3/span 1/11;
}
.animal-cards {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    background-color: rgba(var(--background-color),1);
}
.intermediate-photo-one:hover {
    text-decoration: underline;
}
.intermediate-photo-two:hover {
    text-decoration: underline;
}
.intermediate-photo-three:hover {
    text-decoration: underline;
}
.intermediate-photo-four:hover {
    text-decoration: underline;
}

/* Information pages */
.local-nav {
    padding: 20px;
    font-weight: 500;
}

.local-nav a {
    text-decoration: none;
    color: rgba(var(--black),1);
    font-weight: 500;
}

.local-nav a:hover {
    text-transform: uppercase;
}

.page-intro {
    text-align: justify;
    padding: 20px 10%;
    font-size: 110%;
}

.grid-container-info-page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, auto) 100px;
    row-gap: 10px;
    align-items: center;
    font-size: 110%;
}

.animal-photos {
    max-width: 100%;
    border-radius: 2%;
}
.animal-text-containers {
    text-align: justify;
}
.animal-text-containers h3 {
    text-align: center;
    padding: 20px;
    font-size: 200%;
}
.animal-one {
    grid-area:1/2/2/12;
}
.animal-one-text-container {
    grid-area:2/2/3/12;
}
.animal-two {
    grid-area:3/2/4/12;
}
.animal-two-text-container {
    grid-area:4/2/5/12;
}
.animal-three {
    grid-area:5/2/6/12;
}
.animal-three-text-container {
    grid-area:6/2/7/12;
}
.animal-four {
    grid-area:7/2/8/12;
}
.animal-four-text-container {
    grid-area:8/2/9/12;
}
.text-container p {
    padding: 5px;
}
.extra-species-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.extra-species {
    grid-column-start: 2;
}
.extra-species ul li {
    margin-left: 2rem;
    list-style-type: circle;
}

#box-jellyfish {
    min-width: 100%;
}

/* Contact page */
.contact-section {
    background: url(../images/contact-cobweb-img.jpg) no-repeat center center;
    background-size: cover;
}

.contact-page-div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15px auto 15px auto 15px 30px auto;
    width: 100%;
}

.contact-page-div h2 {
    font-size: 150%;
}

.feedback-form>h3 {
    text-align: center;
}

.feedback-form {
    grid-area:2/3/3/-3;
    background-color: rgba(var(--white),0.6);
    padding: 20px;
    border-radius: 10%;
    font-weight: 600;
}

.text-input {
    font-family: var(--body-font);
    width: 100%;
    margin: 10px 0 25px 0;
    border: 1px solid rgba(var(--black),1);
    height: 25px;
}
.text-input:hover {
    border: 3px solid rgba(var(--h1-color),1);
}

#comment {
    max-width: 100%;
    height: 100px;
    font-family: var(--body-font);
}

#newsletter {
    height: 20px;
    width: 20px;
}

.submit-button {
    background-color: rgba(var(--background-color),1);
    font-family: var(--body-font);
    font-size: 100%;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    margin: 20px 10px;
    display: block;
    border: outset;
}

.submit-button:hover {
    background-color: rgba(var(--black),1);
    color: rgba(var(--background-color),1);
}

.contact-info {
    grid-area:4/3/5/-3;
    background-color: rgba(var(--white), 0.6);
    border-radius: 15%;
    font-weight: 600;
    padding: 50px 30px;
}

.contact-info strong {
    font-weight: 1000;
}

.white-map-text {
    grid-area:6/3/7/-1;
    color: rgba(var(--white),1);
}

.map-container {
    grid-area:7/1/8/-1;
    height: auto;
}

.map {
    width: 100%;
    height: 250px;
}

/* Confirmation page */
.confirmation-section {
    background: url(../images/frog-eye-img.jpeg) center center;
    background-size: cover;
}

.confirmation-div {
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#thank-you {
    grid-area:2/3/4/-3;
    background-color: rgba(var(--white), 0.6);
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
}

/* Media queries */
@media screen and (min-width: 950px) {

    /* Footer media queries */
    .footer-img-large-screens {
        background: url(../images/footer-spider-narrow.jpg) no-repeat right bottom;
        background-size: auto;
        background-attachment: fixed;
    }

    .social-networks {
        grid-area:3/1/span 3/span 2;
        background-color: rgba(var(--l-blue),0.6);
        margin: 0;
    }

    .social-networks p {
        font-size: 150%;
        padding: 20px;
    }

    .back-to-top {
        font-size: 120%;
    }

    /* Style fontawesome social media links */
    .fa-brands {
        font-size: 150%;
        padding: 20px;
    }

    /* index.html media queries */
    .intro-text {
        grid-area:1/2/span 1/-2;
    }

    .main-photo-one {
        display: inline-block;
        text-align: center;
        grid-area:2/2/span 2/7;
    }

    #main-toad {
        width: auto;
        max-width: 100%;
        height: 100%;
    }

    .main-photo-two {
        display: inline-block;
        text-align: center;
        grid-area:2/8/span 2/12;
    }

    #main-wasp {
        width: auto;
        max-width: 100%;
        height: 100%;
    }

    /* Intermediate page media queries */
    .grid-container-intermediate-page {
        display: grid;
        grid-template-columns: repeat(19, 1fr);
        grid-template-rows: 50px 6fr 1fr;
    }
    .intermediate-photo-one {
        grid-area:2/3/3/span 3;
    }
    .intermediate-photo-two {
        grid-area:2/7/3/span 3;
    }
    .intermediate-photo-three {
        grid-area:2/11/3/span 3;
    }
    .intermediate-photo-four {
        grid-area:2/15/3/span 3;
    }

    /* Contact page media queries */
    .contact-page-div {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(2, 75px) repeat(2, 1fr) 50px auto 1fr 15px;
    }
    .contact-page-div h2 {
        font-size: 180%;
    }
    .feedback-form {
        grid-area: 2/2/-4/7;
    }
    .contact-info {
        grid-area:3/8/span 1/11;
    }
    .white-map-text {
        grid-area:6/3/span 1/11;
        background-color: rgba(var(--black), 0.5);
    }
    .map-container {
        grid-area:7/2/span 1/11;
        height: auto;
    }
}

@media screen and (min-width: 1250px) {
    /* Contact page media queries */
    .contact-page-div {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(2, 75px) repeat(2, 1fr) 100px auto 15px;
    }
    .contact-page-div h2 {
        font-size: 200%;
    }
    .feedback-form {
        grid-area:2/3/-4/7;
    }
    .contact-info {
        grid-area:3/8/span 1/10;
    }
    .white-map-text {
        grid-area:6/2/span 1/10;
    }
    .map-container {
        grid-area:8/2/9/11;
        height: auto;
    }

    /* Info page large screens media query */
    .grid-container-info-page {
        display: grid;
        grid-template-columns: repeat(6, 1fr) 75px repeat(6, 1fr);
        grid-template-rows: repeat(4, auto) 100px;
    }
    .animal-one {
        grid-area: 1/2/2/7;
    }
    .animal-one-text-container {
        grid-area: 1/8/2/13;
    }
    .animal-two {
        grid-area: 2/8/3/13;
    }
    .animal-two-text-container {
        grid-area: 2/2/3/7;
    }
    .animal-three {
        grid-area: 3/2/4/7;
    }
    .animal-three-text-container {
        grid-area: 3/8/4/13;
    }
    .animal-four {
        grid-area: 4/8/5/13;
    }
    .animal-four-text-container {
        grid-area: 4/2/5/7;
    }
}

/* nav menu responsive java bar - everything below adapted from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
.nav-menu .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav-menu a:not(:first-child) {
        display: none;
    }

    nav {
        text-align: left;
    }

    .nav-menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-menu.responsive {
        position: relative;
    }

    .nav-menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}